@font-face {
  font-family: 'avenir-book';
  src: url('./Fonts/avenir/Avenir-Book.ttf');
}
@font-face {
  font-family: 'montserat-medium';
  src: url('./Fonts/montserat/Montserrat-Medium.otf');
}
@font-face {
  font-family: 'montserat-regular';
  src: url('./Fonts/montserat/Montserrat-Regular.ttf');
}
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.title{
  margin-top: 100px;
  font-family: 'avenir-book';
}
.products-con{
  max-width: 70%;
  max-height: 50%;
  margin: auto;
  background-color: transparent;
  overflow-x: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding: 20px;
}
.products{
  height: 80%;
  width: 30%;
  background-color: transparent;
  margin: 10px;
  text-align: left;
}
.img{
  width: 12.5rem;
  height: 12.5rem;;
  border-radius: 25px;
  object-fit: cover;
  margin-bottom: 10px;
}
.prev{
  left: 6vw;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: transparent;
  color: black;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 30px;
}
.next{
  right: 6vw;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: transparent;
  color: black;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 30px;
}
.gold{
  background-color: #E6CA97;
}
.white{
  background-color: #D9D9D9;
}
.rose{
  background-color: #E1A4A9;
}
.prdct-name,.prdct-price, .prdct-color-name, .prdct-rating-con{
  margin: 3px;
  
}
.prdct-color-name{
  font-family: 'avenir-book';
}
.prdct-price{
  font-family: 'montserat-regular';
  margin-bottom: 10px;
}
.prdct-name{
  font-family: 'montserat-medium';
  margin-bottom: 10px;
  
}
@media (max-width: 1200px) { 
  .img{
  width: 8.5rem;
  height: 8.5rem;;
  border-radius: 25px;
  object-fit: cover;
  margin-bottom: 10px;
}
}
@media (max-width: 900px) { 
  .products{
  height: 80%;
  min-width: 50%;
  background-color: transparent;
  margin: 10px;
  text-align: left;
}
 .img{
  width: 12.5rem;
  height: 12.5rem;;
  border-radius: 25px;
  object-fit: cover;
  margin-bottom: 10px;
}
}