.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.title{
  margin-top: 100px;
}
.products-con{
  max-width: 70%;
  max-height: 50%;
  margin: auto;
  background-color: beige;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding: 20px;
}
.products{
  height: 80%;
  width: 30%;
  background-color: aqua;
  margin: 10px;
  
}
.img{
  width: 12.5rem;
  height: 12.5rem;;
  border-radius: 25px;
  object-fit: cover;
}
.prev{
  left: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: black;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 40px;
}
.next{
  right: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: black;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 40px;
}
.color-btn{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  margin: 2px;
}
.gold{
  background-color: #E6CA97;
}
.white{
  background-color: #D9D9D9;
}
.rose{
  background-color: #E1A4A9;
}
